<h1>Pokemon with type: <%= @type.name %></h1>



<ul>
  <% @type.pokemons.each do |pokemon| %>
    <li>
      <a href="/pokemon/<%= pokemon.id %>">
      <%= pokemon.name %>
    </li>
  <% end %>
</ul>